body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.reset {
  margin: 0;
  padding: 0;
}
.header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px #494949;
}
.header__title {
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  color: #383fe8;
}
.searchbox input {
  text-align: center;
  background-color: #b7b7b7;
  width: 25vw;
  height: 25px;
  border: none;
  border-radius: 5px;
}

.header__userlink {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 13vw;
}
.header__userlink li button {
  width: 70px;
  height: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
}
.pagedesc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65vw;
  height: 60vh;
  margin: 20vh auto;
  background-color: #232323;
  padding: 20px 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2% / 4%;
}
.pagedesc__imgcontainer img {
  width: 30vw;
  height: 45vh;
  border-radius: 1%;
}
.pagedesc__text {
  color: white;
  width: 30vw;
}
.banner {
  margin: 100px 0;
  background-image: url(./img/banner.jpg);
  background-size: cover;
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.banner__title {
}
.banner__desc {
  width: 40vw;
}

.mainlist {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 85vw;
  background-color: #f2f2f2;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.5));
  border-radius: 2%;
}
.mainlist__listbox {
}
.mainlist__category {
  margin-left: 3vw;
}
.mainlist__list {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.mainlist__listitem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainlist__listitem img {
  width: 12vw;
  height: 33vh;
  border-radius: 3%;
}

.searchbox--icon {
  transform: translate(-150%, 0);
}
.mobile-display {
  display: none;
}
